<div class="container">
<h1> Alert List </h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Cryptocurrency name</th>
        <th>Amount</th>
        <th>Mode</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let alert of alerts |orderBy:'-amount'">
          <td>{{alert.pk}}</td>
          <td>{{alert.fields.cryptocurrency}}</td>
          <td>{{alert.fields.amount}}</td>
            <td>{{alert.fields.mode}}</td>
            <td><button (click)="updateAlert(alert.pk)" class="btn btn-success">Update</button> &nbsp;
            <button (click)="deleteAlert(alert.pk)" class="btn btn-warning">Delete</button></td>
        </tr>
    </tbody>

  </table>

  <div class="row">
      <button (click)="addAlert()" class="btn btn-success">Add</button>
  </div>

</div>
</div>